<!-- Validation failure messages -->
<% if @penalty.errors.any? %>
  <% @penalty.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Penalty</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_penalty" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @penalty.title %>">
      </div>

      <!-- Label and input for points -->
      <div class="form-group">
        <label for="points" class="control-label">
          Points
        </label>

        <input type="text" id="points" name="points" placeholder="Points" class="form-control" value="<%= @penalty.points %>">
      </div>

      <button class="btn btn-success">
        Create Penalty
      </button>
      or
      <a href="/penalties">Cancel</a>
    </form>
  </div>
</div>
